html, body{
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #C9F6B1;
  font-family: 'Nunito', sans-serif;
}

.card{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 350px;
  background: #6A9E79;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(20,20,20,0.4);
}

.titulo{
  font-family: 'Style Script', cursive;
  font-weight: bold;
  font-size: 2.5em;
  /* background: yellow; */
  padding: 15px 0;
  border-bottom: 1px solid #C9F6B1;
}

.add-item{
  margin: 15px 0;
  text-align: center;

}

.tb-novo-item, .bt-novo-item{
  background: #C9F6B1;
  border: none;
  padding: 5px 7px;
  border-radius: 2px;
  font-family: 'Nunito', sans-serif;
}

.bt-novo-item{
  font-weight: bold;
  transition: 0.2s;
}

.bt-novo-item:hover{
  background: #2F5238;
  color: #C9F6B1;
}

.tarefas{
  /* background: pink; */
  width: 100%;
  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tarefas::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.tarefas::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

.tarefas::-webkit-scrollbar-thumb {
  background-color: #2F5238;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #6A9E79;  /* creates padding around scroll thumb */
}
